<%- include('./partials/head') %>

    <main>
            <section>
                <h1>Welkom <%=member.name%> <%=member.surname%> :)</h1>
                <!-- <h1><%=member.bio.html%></h1> -->
            </section>

        <section class="about-me"> 
          <ul>
            <li>Over mij</li>
            <li>Woonplaats</li>
            <li>Werk</li>
            <li>Eten</li>
            <li>Hobby's</li>
            <li>Opleidingen</li>
          </ul>
        </section>


        <!-- <section>
          <img src="DSCN0675bewerkt.jpg">
        </section> -->

        

    
    </main>

<%- include('./partials/foot') %>