<%- include('./partials/head') %>

  <main>
            <section class="name-and-avatar">
                <h1><%=member.name%> <%=member.surname%> :)</h1>
                <!-- <h1><%=member.bio.html%></h1> -->
        <section id="avatar">
          <img src="https://avatars.githubusercontent.com/u/112861144?v=4" alt="avatar image">
        </section>
      <i class="fa-brands fa-github"><p>Maaike0904</p></i>
    </section>
    
  </main>

<%- include('./partials/foot') %>