<%- include('./partials/head') %>
<section class="test">
<h1><%=member.name%></h1>
<h1><%=member.surname%></h1>
<h1><%=member.bio.html%></h1>

<article>
Lorem ipsum dolor
 sit, amet consectetur 
adipisicing elit. Necessitatibus, 
adipisci!
</article>

</section>
<%- include('./partials/foot') %>