<%- include('./partials/head') %>

    <main>
            <section>
                <h1>Welkom <%=member.name%> <%=member.surname%> :)</h1>
                <!-- <h1><%=member.bio.html%></h1> -->
            </section>

        <section id="about-me">
            <h2>
              <a href="#over-mij">Over mij</a><br>
              <a href="#woonplaats">Woonplaats</a><br>
              <a href="#werk">Werk</a><br>
              <a href="#eten">Eten</a><br>
              <a href="#hobbys">Hobby's</a><br>
              <a href="#opleidingen">Opleidingen</a>

              <!-- <span class="over-mij">Over mij</span>
              <span class="woonplaats">Woonplaats</span>
              <span class="werk">Werk</span>
              <span class="eten">Eten</span>
              <span class="hobbys">Hobby's</span>
              <span class="opleidingen">Opleidingen</span> -->
            </h2>
          </section>
    
    </main>

<%- include('./partials/foot') %>